<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.webdiapp.questionaire.mapper.QuestionaireMapper">
    <select id="getList" resultType="Questionaire">
        select
        id,
        status_id as statusId,
        title as title,
        active_date_start as activeDateStart,
        active_date_end as activeDateEnd,
        <include refid="SurveyCommonTemplateMapper.baseColumnsQry" />
        from questionaire_t where use_yn != 'n'
        <if test="title != null and title != ''">
        and title like CONCAT('%',#{title},'%')
        </if>
        limit #{skip},#{size}
    </select>
    <select id="getById" parameterType="INTEGER" resultType="Questionaire">
        select
        naire.id as id,
        naire.status_id as statusId,
        naire.active_date_start as activeDateStart,
        naire.active_date_end as activeDateEnd,
        naire.title as title,
        <include refid="SurveyCommonTemplateMapper.baseColumnsQry" />
        from questionaire_t naire 
        where naire.id=#{id} and use_yn != 'n'
    </select>
    <select id="getCount" resultType="int" parameterType="String">
        select count(1) from questionaire_t where use_yn != 'n'
        <if test="title != null and title != ''">
        and title like CONCAT('%',#{title},'%')
        </if>
    </select>
    <select id="getCountById" resultType="int" parameterType="Integer">
        select count(1) from questionaire_t where use_yn != 'n' and id = #{id}
    </select>
    <insert id="insert" parameterType="Questionaire"
    	useGeneratedKeys="true" keyProperty="id">
        insert into
        questionaire_t(status_id, active_date_start, active_date_end, <include refid="SurveyCommonTemplateMapper.baseColumnsInsertFields" />)
        values(
        #{statusId, javaType=INTEGER, jdbcType=INTEGER},
        #{activeDateStart, javaType=java.util.Date, jdbcType=TIMESTAMP},
        #{activeDateEnd, javaType=java.util.Date, jdbcType=TIMESTAMP},
        <include refid="SurveyCommonTemplateMapper.baseColumnsInsert" />
        )
    </insert>
    <delete id="delete">
        update questionaire_t set use_yn = 'n' where id=#{id} and use_yn != 'n'
    </delete>
    <update id="update" parameterType="Questionaire">
        update questionaire_t set
        status_id=#{statusId},
        lastupdate_timestamp=#{lastupdateTimestamp},
        lastupdate_user=#{lastupdateUser, javaType=INTEGER, jdbcType=INTEGER}
        where id=#{id}
    </update>
</mapper>
