<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--命名空间应该是对应接口的包名+接口名 -->
<mapper namespace="com.webdiapp.mapper.QuestionDAO">
	<sql id="baseColumnsQry">
		creation_timestamp as creationTimestamp,
        creation_user as creationUser,
        creation_username as creationUsername,
        lastupdate_timestamp as lastupdateTimestamp,
        lastupdate_user as lastupdateUser,
        lastupdate_username as lastupdateUsername 
	</sql>
	<sql id="baseColumnsInsertFields">
		creation_timestamp,creation_user,creation_username,lastupdate_timestamp,lastupdate_user,lastupdate_username 
	</sql>
	<sql id="baseColumnsInsert">
		#{creation_timestamp, javaType=java.sql.Date, jdbcType=DATE},
        #{creation_user, javaType=INTEGER, jdbcType=INTEGER},
        #{creation_username, javaType=string, jdbcType=string},
        #{lastupdate_timestamp, javaType=java.sql.Date, jdbcType=DATE},
        #{lastupdate_user, javaType=INTEGER, jdbcType=INTEGER},
        #{lastupdate_username, javaType=string, jdbcType=string} 
	</sql>
    <!--获得商品信息并分页 -->
    <select id="getList" resultType="Question">
        select
        id,
        question_type_id as questionTypeId,
        question_content as questionContent,
        question_type as questionType,
        <include refid="baseColumnsQry" />
        from question_t limit #{skip},#{size}
    </select>
    <!-- 获得单个商品通过编号 -->
    <select id="getById" parameterType="INTEGER" resultType="Question">
        select
        id,
        question_content as questionContent,
        question_type as questionType,
        <include refid="baseColumnsQry" />
        from question_t where id=#{id}
    </select>
    <!--获得商品总数 -->
    <select id="getCount" resultType="int">
        select count(id) from question_t
    </select>
    <!--新增加商品 -->
    <insert id="insert" parameterType="Question">
        insert into
        question_t(question_content,question_type, question_type_id, <include refid="baseColumnsInsertFields" />) 
        values(
        #{questionContent},
        #{questionType},
        #{questionTypeId, javaType=INTEGER, jdbcType=INTEGER},
        #{creationTimestamp, javaType=java.util.Date, jdbcType=TIMESTAMP},
        #{creationUser, javaType=INTEGER, jdbcType=INTEGER},
        #{creationUsername, javaType=string, jdbcType=VARCHAR},
        #{lastupdateTimestamp, javaType=java.util.Date, jdbcType=TIMESTAMP},
        #{lastupdateUser, javaType=INTEGER, jdbcType=INTEGER},
        #{lastupdateUsername, javaType=string, jdbcType=VARCHAR}
        )
    </insert>
    <!-- 删除商品 -->
    <delete id="delete">
        delete from question_t where id=#{id}
    </delete>
    <!-- 修改商品 -->
    <update id="update" parameterType="Question">
        update question_t set
        question_content=#{questionContent},
        question_type=#{questionType},
        lastupdate_timestamp=#{lastupdateTimestamp},
        lastupdate_user=#{lastupdateUser, javaType=INTEGER, jdbcType=INTEGER},
        lastupdate_username=#{lastupdateUsername, javaType=string, jdbcType=VARCHAR}
        where id=#{id}
    </update>
</mapper>